:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 1rem;
}

.btn:hover {
  cursor: pointer;
}

main {
  background-color: red;
  max-width: 100%;
  height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}

.daytime,
.place {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.time-display {
  font-size: 15rem;
}

.place {
  font-size: 3rem;
}
